.container {
  height: 60px;
  background: #bcefff;
  border-bottom: 1px solid #eee;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  max-width: 960px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media (max-width: 1387px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    max-width: 960px;
    height: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  .main {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
}

/* メインタイトル */
.maintitle {
  align-items: center;
  margin-top: 3px;
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-size: 37px;
  font-weight: 900;
  color: #2c2c2c;
}

.users {
  flex-direction: column;
}

.userBtn {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
}

.userIcon {
  border-radius: 50%;
}

.userName {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.dropdownIcon {
  margin-left: 8px;
}

.dropdown {
  right: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.dropdownItem {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  border-right: 1px solid rgb(189 189 189);
  border-bottom: 1px solid rgb(189 189 189);
  border-left: 1px solid rgb(189 189 189);
}

.dropdownItem:hover {
  padding: 8px;
  background-color: #c3fbff;
}

@media (max-width: 456px) {
  .maintitle {
    align-items: center;
    margin-top: 3px;
    font-family: 'Noto Sans CJK JP', sans-serif;
    font-size: 26px;
    font-weight: 900;
    color: #2c2c2c;
  }

  .userBtn {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
  }
}
