.title {
  margin-top: 100px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.tasks {
  width: 300px;
  padding: 0;
  margin: 20px auto 0;
  text-align: left;
  list-style-type: none;
}

.tasks > li {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.deleteBtn {
  float: right;
}

.head {
  top: 0;
  left: 0;
  z-index: 2;
  display: relative;
  width: 100%;
  height: 650px;
  padding-top: 60px;
  background: rgb(2 2 2 / 40%);
  background-color: #eee;
  background-image: 'aa';
}

.backgroundphoto {
  top: 100px;
  z-index: 0;
  display: absolute;
  width: 100%;
  height: 650px;
  background-color: 'blue';
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 450px;
  padding-top: 50px;
  background-color: #fff;
  background-color: #b8b8b8;
}

.submitarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-top: 30px;
}
