.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main {
  width: 400px;
  padding: 32px;
  background-color: #ebebebfd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
}

.formGroup {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.password {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.email {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #4053ff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.btngit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #333;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.btngit:hover {
  background-color: #444;
}

.footer {
  margin-top: 32px;
  font-size: 14px;
  text-align: center;
}

.footerText a {
  color: #333;
  text-decoration: underline;
}

.footerText a:hover {
  color: #444;
}

.form {
  margin-top: 32px;
}
