.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main {
  width: 400px;
  padding: 32px;
  background-color: #ebebebfd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #4053ff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.btngit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #333;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.btngit:hover {
  background-color: #444;
}

.footer {
  margin-top: 32px;
  font-size: 14px;
  text-align: center;
}

.footerText a {
  color: #333;
  text-decoration: underline;
}

.footerText a:hover {
  color: #444;
}

.stepbar {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 10px;
  font-size: 0.8em;
  color: black;
  text-transform: uppercase;
  background-color: #e6fde8;
}

.active {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 50px;
  padding: 7px 18px;
  margin-bottom: 4px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  background-color: #309a1b;
  border: 1px solid #949494;
  border-radius: 35%;
  transition: background-color 0.1s linear, color 0.1s linear;
}

.number {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 7px 18px;
  margin-bottom: 4px;
  font-size: 25px;
  font-weight: 700;
  color: #777;
  background-color: #fff;
  border: 1px solid #949494;
  border-radius: 35%;
  transition: background-color 0.1s linear, color 0.1s linear;
}

.li {
  position: relative;
  display: inline-block;
  width: 120px;
  margin: 0 30px;
  text-align: center;
}

.line {
  position: absolute;
  top: 25px;
  right: 60px;
  z-index: 0;
  width: 180px;
  height: 5px;
  background: linear-gradient(to right, #19da49 50%, white 50%);
  background-color: #fff;
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all 1s ease-in-out;
}

.lineactive {
  position: absolute;
  top: 25px;
  right: 60px;
  z-index: 0;
  width: 180px;
  height: 5px;
  background: linear-gradient(to right, #19da49 50%, white 50%);
  background-color: #fff;
  background-position: right bottom;
  background-position: left bottom;
  background-size: 200% 100%;
  transition: all 1s ease-in-out;
}
