.leftBoxAll {
  position: relative; /* 修正点 */
  top: 700px;
  left: 50px;
  z-index: 3;
  width: 700px;
  height: 2110px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px, rgb(0 0 0 / 30%) 0 30px 60px -30px;
}

.leftBox2 {
  position: relative;
  top: 450px;
  left: 5%;
  width: 90%;
  height: 38%;
  background-color: #fff;
  transform: translateY(-50%);
}

.leftBox3 {
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 38%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  transform: translateY(-50%);
}

.joblisting {
  width: 100%;
  padding: 50px;
  margin-bottom: 50px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  border: 1px solid #b7b2b2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
  box-shadow: rgb(17 17 26 / 10%) 0 4px 16px, rgb(17 17 26 / 5%) 0 8px 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.newtag {
  padding: 5px 10px;
  font-size: 0.9em;
  color: white;
  background-color: red;
  border-radius: 5px;
}

.jobtitle {
  flex: 1;
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.searchbutton {
  padding: 5px 10px;
  background-color: #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.searchbutton:hover {
  background-color: #aaa;
}

.company,
.location,
.date {
  padding: 5px;
  margin: 1px 0;
  font-size: 1em;
  color: #444;
  background-color: white;
  border-radius: 5px;
}

.jobdetails .detail {
  height: 290px;
  margin-top: 40px;
  font-size: 0.95em;
  line-height: 1.5;
  background-color: rgb(231 19 19);
  border-radius: 5px;
}

.jobdetails .detail strong {
  font-weight: bold;
}

.applybutton {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  background-color: #007aff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.applybutton:hover {
  background-color: #005acb;
}

.applybutton:active {
  background-color: #003e9f;
}

.applybutton:focus {
  outline: none;
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-left: 40%;
  font-family: 'ヒラギノ角ゴ ProN W3', Arial, sans-serif;
  font-size: 12px;
}

.pagination span {
  margin-right: 10px;
}

.pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination ul li {
  margin: 0 5px;
}

.pagination ul li a {
  padding: 2px 5px;
  color: #000;
  text-decoration: none;
  border-radius: 3px;
}

.pagination ul li a:hover {
  background-color: #e0e0e0;
}

.pagination ul li a.active {
  color: #fff;
  background-color: #007bff;
}

.container {
  display: flex;
  width: 530px;
  background-color: #fff;
  border: 1px solid #b5b5b5;
}

.result {
  display: flex;
  flex: 0 100px 100px; /* Flexの伸長、縮小、基本の値 */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  height: 100;
  color: #fff;
  text-align: center;
  background-color: #adadad;
}

.undefined {
  width: 600px;
  font-size: 14px; /* 文字のサイズを14pxに設定 */
  line-height: 20px; /* 行の間隔を20pxに設定 */
  color: #000;
  text-align: center;
  background-color: #fff;
}
