.leftBox {
  position: absolute;
  top: 110px;
  left: 50px;
  width: 700px;
  height: 520px;
  background-color: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px, rgb(0 0 0 / 30%) 0 30px 60px -30px;
}

.theme {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 0.25em 0.5em;
  overflow: auto;
  font-size: 25px;
  font-weight: bold; /* 文字を太くする */
  color: #100c01;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 30%); /* 文字の影を追加 */
  background: #edecec; /* 半透明の白背景を追加 */
  border-left: solid 5px #30d46c;
}

/* stylelint-disable-next-line selector-class-pattern */
.ribbon20-wrapper {
  position: relative;
  display: block;
  width: 60%;
  padding: 10% 0;
  margin: 0 auto;
  background: #fff;
}

.ribbon20 {
  position: absolute;
  top: 20%;
  left: -36%;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  padding: 0 12px;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 40px; /* 縦方向の中央揃えのために変更 */
  color: rgb(255 255 255);
  text-align: center; /* 横方向の中央揃えのために追加 */
  text-shadow: -1px -1px 1px rgb(255 255 255 / 20%), 1px 1px 1px rgb(0 0 0 / 50%);
  letter-spacing: 0.1em;
  background: #30d46c;
  box-shadow: 0 2px 2px rgb(0 0 0 / 12%);
}

.ribbon20::before {
  position: absolute;
  top: 0;
  left: -7px;
  width: 17px;
  height: 40px;
  content: '';
  background: #30d46c;
  border: none;
  border-radius: 5px 0 0 5px;
}

.ribbon20::after {
  position: absolute;
  bottom: -7px;
  left: -5px;
  width: 5px;
  height: 9px;
  content: '';
  background: #358d62;
  border: none;
  border-radius: 5px 0 0 5px;
}

.horizontalContainer {
  position: relative;
  top: -40px;
  left: 3%;
  z-index: 3;
  display: flex;
  gap: 160px; /* この値は2つの要素の間のスペースとして設定します。必要に応じて変更してください。 */
  align-items: center; /* これは中央揃えを行います。必要に応じて変更してください。 */
  margin-bottom: 10px;
  font-size: 15px;
}

.horizontalContainer2 {
  position: relative;
  top: -40px;
  left: 3%;
  z-index: 3;
  display: flex;
  gap: 143px; /* この値は2つの要素の間のスペースとして設定します。必要に応じて変更してください。 */
  align-items: center; /* これは中央揃えを行います。必要に応じて変更してください。 */
  font-size: 15px;
}

.horizontalContainer3 {
  position: relative;
  top: -20px;
  left: 3%;
  z-index: 3;
  display: flex;
  gap: 90px; /* この値は2つの要素の間のスペースとして設定します。必要に応じて変更してください。 */
  align-items: center; /* これは中央揃えを行います。必要に応じて変更してください。 */
  margin-bottom: 10px;
  font-size: 15px;
}

.horizontalContainer4 {
  position: relative;
  top: -25px;
  left: 3%;
  z-index: 3;
  display: flex;
  gap: 160px; /* この値は2つの要素の間のスペースとして設定します。必要に応じて変更してください。 */
  align-items: center; /* これは中央揃えを行います。必要に応じて変更してください。 */
  margin-bottom: 10px;
  font-size: 15px;
}

.theme2 {
  z-index: 3;
  padding: 0.3rem 0.5rem;
  border-left: 4px solid #30d46c;
}

.shinybtn {
  z-index: 3;
  display: inline-block;
  width: 200px;
  height: 35px;
  padding: 3px 24px;
  margin: 10px 2px;
  font-size: 16px;
  font-weight: bold; /* 文字を太くする */
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #30d46c;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #51a25b; /* この色は水色の少し暗いバージョンです */
  transition: background-color 0.3s, transform 0.2s, opacity 0.3s; /* opacityの遷移も追加 */
}

.shinybtn:hover {
  background-color: #71e17e; /* 色を少し暗くする */
  opacity: 0.8; /* 透明度を下げて色を薄くする */
  transform: scale(1.02); /* ボタンを少し拡大してホバー感を出す */
}

.shinybtn2 {
  z-index: 3;
  display: inline-block;
  width: 200px;
  height: 35px;
  padding: 3px 24px;
  margin: 10px 2px;
  font-size: 16px;
  font-weight: bold; /* 文字を太くする */
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #30d46c;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #51a25b;

  /* この色は水色の少し暗いバージョンです */
  transition: background-color 0.3s, transform 0.2s, opacity 0.3s; /* opacityの遷移も追加 */
}

.shinybtn2:hover {
  background-color: #71e17e; /* 色を少し暗くする */
  opacity: 0.8; /* 透明度を下げて色を薄くする */
  transform: scale(1.02); /* ボタンを少し拡大してホバー感を出す */
}

.shinybtn3 {
  position: relative;
  top: -26px;
  left: 200px;
  z-index: 3;
  width: 280px;
  height: 35px;
  padding: 3px 24px;
  margin: 10px 2px;
  font-size: 16px;
  font-weight: bold; /* 文字を太くする */
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px 1px rgb(255 255 255 / 40%), 1px 1px 1px rgb(0 0 0 / 50%);
  cursor: pointer;
  background: #dbea3c;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #d1ca3d; /* この色は水色の少し暗いバージョンです */
  transition: background-color 0.3s, transform 0.2s;
}

.shinybtn3:hover {
  background-color: #d4fd4e; /* 色を少し暗くする */
  opacity: 0.8; /* 透明度を下げて色を薄くする */
  transform: scale(1.02); /* ボタンを少し拡大してホバー感を出す */
}

.line {
  position: relative;
  top: -20px;
  height: 1px;
  margin: 20px 0;
  background-color: #aaa;
  border: 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%); /* 影を追加 */
}
