.title {
  margin-top: 100px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.tasks {
  width: 300px;
  padding: 0;
  margin: 20px auto 0;
  text-align: left;
  list-style-type: none;
}

.tasks > li {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.deleteBtn {
  float: right;
}

.head {
  top: 0;
  left: 0;
  z-index: 2;
  display: relative;
  width: 100%;
  height: 930px;
  padding-top: 90px;
  background: rgb(2 2 2 / 40%);
  background-color: #eee;
  background-image: 'aa';
}

.backgroundphoto {
  top: 100px;
  z-index: 0;
  display: absolute;
  width: 100%;
  height: 650px;
  background-color: 'blue';
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  padding-top: 50px;
  background-color: #fff;
  background-color: #b8b8b8;
}

.submitarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-top: 30px;
}

.infoarea {
  width: 100%;
  height: 300px;
  background-color: #e9e9e9;
}

.yellow {
  position: relative;
  display: inline-block;
  padding: 1rem 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  vertical-align: middle;
  cursor: pointer;
  background-color: #fbc53b;
  border-bottom: 5px solid #cea131;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.yellow:hover {
  margin-top: 3px;
  color: #000;
  background-color: #ffcb49;
  border-bottom: 2px solid #cea131;
}

.pagedetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 450px;
  padding-top: 50px;
  font-size: 30px;
  font-weight: bold;
  background-color: #fff;
}

.proimage {
  position: relative;
}

.proimage::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgb(0 0 0 / 50%);
}

.milkyWay {
  height: 1200px;
  background-color: #646770;
  /* stylelint-disable-next-line function-linear-gradient-no-nonstandard-direction */
  background-image: linear-gradient(bottom, rgb(255 255 255 / 40%) 0%, rgb(0 0 0 / 40%) 100%),
    radial-gradient(at 50% 87%, rgb(255 255 255 / 30%) 0%, rgb(0 0 0 / 30%) 100%);
  background-image: linear-gradient(0deg, rgb(255 255 255 / 40%) 0%, rgb(0 0 0 / 40%) 100%),
    radial-gradient(at 50% 87%, rgb(255 255 255 / 30%) 0%, rgb(0 0 0 / 30%) 100%);
  background-blend-mode: multiply, normal;
}

.background {
  position: relative; /* 追加 */
  top: 160px;
  left: 250px;
  width: 800px;
  height: 2400px;
  background-color: #edecec;
}
